<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Biblioteca API</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="header-container">
    <h1>Biblioteca API</h1>
    
    <div class="header-actions">
        <button onclick="adicionar()">MAIS</button>
        <button onclick="ver_perfil()">PERFIL</button>
        <button onclick="logout()">SAIR</button>
    </div>
</header>

<div class="form-container" style="max-width: 800px;">
    <h2>Livros Disponíveis</h2>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Disponíveis</th>
            </tr>
        </thead>
        <tbody id="livros-lista">
            </tbody>
    </table>
</div>

    <script src="/static/js/dashboard.js"></script>
</body>
</html>